.contact{
    .contact-details{
        list-style: none;
        padding: 0;
        
        li{
            margin-bottom: 10px;
            
            i{
                background: #fff none repeat scroll 0 0;
                border: 1px solid #f4f4f7;
                font-size:14px;
                height:30px;
                line-height:30px;
                margin-right: 5px;
                text-align: center;
                width:30px;
            }
        }
    }
}