.logo{
    width: 20px;
    @extend .m-r-5;
    display:inline-block !important;
}

.content.profile-page{
    @extend .p-t-15;
    .profile-info{
        ul{
            @extend .m-b-0;
        }
        li{
            i{
                width: 40px;
                float: left;
                position: relative;
                font-size: 16px;
                top: 4px;
            }
            .p-i-list {
                display: block;
                overflow: hidden;
                font-size: 17px;
                @extend .p-b-20;
                span{
                    display: block;
                    font-size: 14px;
                    @extend .m-b-5;
                }
            }
        }   
    }
   .profile-sub-header{
    ul {
        display: inline-table;                
        padding: 0;
        margin:0;
        table-layout: fixed;
        width: 100%;
        //background:#f2f2f2;
        
        li{
            border-right: 1px solid #dedede;
            //border-bottom:1px solid #dedede;
            display: table-cell;
            list-style: outside none none;

            a{
                display:block;
                padding:15px 0;
                color:#444;
                
                &:hover{
                    text-decoration:none;
                    //color:#fff;
                }
                
                i{
                    font-size:20px;
                }   
                
                p{
                    margin:0;
                }
            }
            &:last-child{
                border-right:none;
            }                   
        }
    }
    }
    
    #mypost{
        .mypost-form{
			@extend .m-b-15;
            .form-group{
                margin:0;
            }
        }
        .post-box{
            position: relative;
            > span{
                position: absolute;
                padding: 5px 10px;
                @extend .l-khaki;
                top: 20px;
            }
            .post-img{
                @extend .m-b-15;
                max-height:300px;
                overflow:hidden;
            }
        }
    }
    #timeline{
        .timeline{
            border-left: 1px solid #dedede;
            font-size: 14px;
            position: relative;
            
            .border-info {
                border-color:$brand-info;
            }
            .border-warning {
                border-color:$brand-warning;
            }
            .border-danger {
                border-color:$brand-danger;
            }
            
            .timeline-item{                
                @extend .m-b-20;
                padding-bottom: 1px;
                position: relative;                
                
                &:after{
                    background-color: #fff;
                    border-color: inherit;
                    border-radius: 50%;
                    border-style: solid;
                    border-width: 2px;                  
                    content: "";
                    height: 11px;
                    left: 0;
                    margin-left: -6px;
                    position: absolute;
                    width: 11px;
                    bottom: auto;
                    clear: both;
                    top:4px;

                }
                
                .item-content{
                    margin-left: 24px;
                    margin-top: 0;
                    
                    p{
                        font-weight:400;
                        color:#444;
                    }
                }
            }
         }
    }
    
    #usersettings{
        .form-group{
			@extend .m-b-0;
        }
    }
}



@media only screen and (max-width: 414px) {
    .profile-page{
        .profile-sub-header{
            .box-list{
                li{
                    a{
                        padding: 20px 0 !important;
                    }
                    
                    p{
                        display:none;
                    }                  
                }
            }
        }
    }
}




