/* ====================================  */
.activities{
    
    .streamline{
        position: relative;
        border-color: #dddee0;
        
        .b-info {
            border-color: $blue;
        }
        .b-primary {
            border-color: $deep-purple;
        }
        .b-warning {
            border-color: $orange;
        }
    }

    .b-accent{
        border-color:$indigo !important;
        border-left: 1px solid;
        
        .sl-item {
            position: relative;
            padding-bottom: 1px;           
            
            &:before{
                display: table;
                content: " ";
            }
            
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 11px;
                height: 11px;
                margin-left: -6px;
                background-color: #fff;
                border-color: inherit;
                border-style: solid;
                border-width: 2px;
                border-radius: 50%;
                content: '';
            }
            
            .sl-content {
                padding-bottom:9px;
                margin-top: -6px;
                margin-left: 24px;
                
                p{
                    overflow:hidden;
                    white-space:nowrap;
                    width:100%;
                    display:block;
                    text-overflow:ellipsis;
                }
            }
        }
    }    
}
/* ====================================  */
.mini-profile-widget{
    min-height: 189px;
    
    .mini-profile-area {
        float: left;
        padding:10px 0 20px 90px;
        position: relative;
        width: 100%;
        
        > span {
            border: 3px solid #adadad;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
            
            img{
                float: left;
                width: 65px;
            }
        }
    }
    
    .profile-views-progress{
        float: left;
        width:100%;
        ul {
            list-style: outside none none;
            margin: 0 -7px;
            padding: 0;
            
            li {
                float: left;
                margin-top:0;
                padding: 0 7px;
                width: 33.333%;
                
                h4{
                    margin:0;
                }
            }
        }
        
        .progress{
            height: 5px;
            margin-bottom: 10px;
        }
    }
}
/* ====================================  */
.chat-widget{
    .chat-scroll-list{       
        padding:0;        
        @extend .m-r-15;
        li{
            list-style: none;
			@extend .m-b-20;
            max-width:100%;
            
            &.left{
                img {
                    float: left;
                }
                
                .chat-info {
                    padding: 20px;
                    margin-left: 60px;
                    border-radius: 0 15px 15px 15px;                    
                    @extend .xl-blue;
                }
            }
             &.right-chat{
                img {
                    float: right;
                }
                
                .chat-info {
                    @extend .xl-parpl;
                    padding: 20px;
                    margin-right: 60px;
                    border-radius: 15px 0 15px 15px;
                }
            }
            
            .name{
                display:inline-block;
                font-size:17px;
            }
            .datetime{
                font-size:14px;
            }
            .message{
                display: inline-block;
            }

            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }
    }

}
/* ====================================  */
.social_media_table{
    .table{
        @extend .m-b-0;
        tbody{
            tr{
                td{
                    vertical-align:middle;
                }
            }
        }
    }
    
    .list-icon{        
        display:inline-block;
        width:40px;
        height:40px;
        border-radius:50px;
        @extend .text-center;
        line-height:40px;
        @extend .col-white;
    }
    .linkedin{
        background:#007bb5;
    }
    .twitter-table{
        background:#55acee;
    }
    .facebook{
        background:#007bb5;
    }
    .google{
        background:#dd4b39;
    }
    .youtube{
        background:#bb0000;
    }
    
    .list-name{
        display:block;
        text-transform:uppercase;
    }
}
/* ====================================  */
.inbox-widget{
    
    margin: 0;
    
    .inbox-inner {
        float: left;
        width: 100%;
        border-bottom: 1px solid #efefef;
        padding:10px 0px;
        
        &:last-child{
            margin-bottom:0;
            border:0;
            
        }
        
        a{
            &:hover{
                text-decoration:none;
            }   
        }
        
        .inbox-img {
            width: 46px;
            float: left;
            
            img {
                border-radius: 50%;
                width: 46px;
                height: 46px;
                border: 2px solid #fff;
            }
        }
        .inbox-item-info {
            margin-left: 60px;
            position: relative;
            
            .inbox-date {
                position: absolute;
                top: -1px;
                right: 0;
                color: #7d7979;
                font-size:12px;
            }
            
            .author {
                font-size: 14px;
                color:#3d4c5a;
                margin-bottom: 0;
                font-weight: 600;
            }
            .inbox-message {
                margin-bottom: 0px;
                color: #7e7c7c;
                width: 100%;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
/* ====================================  */
.visitors-map{
    .progress-list {
        
        h4{
            font-weight:300;
        }

        .progress.progress-xs {
            height:3px;
            margin-top:3px;
        }
    }
}
/* ====================================  */
.progress{
    height:6px;
}
/* ====================================  */
.member-card-2{
    text-align:center;
    
    .header-dropdown{
        display: inline-block;
        position: absolute;
        right: 30px;
        padding: 0;
        margin: 0;
        
        li{
            a{
                padding: 10px 15px;
            }
        }
    }
    
    &.verified{
        .member-thumb{
            img{
                border:1px solid #5cb85c;
                width:130px;
            }
            i{
                color:#5cb85c;
            }            
        }
    }

    .text-pink{
        display:block;
    }

    .member-thumb{
        
        position:relative;
        display:inline-block;
        
        img{
            padding:4px;
            border:1px solid #ccc;            
        }
        i{
            position:absolute;
            bottom:0;
            right:30px;
        }
    }
    
    .social-links{
     
        li{
            a{
                i{
                    color:#999;
                    &:hover{
                        color:#444;
                    }
                }
            }
        }
    }
}
/* ====================================  */
.member-card{    
    @extend .text-center;
    .member-thumb {
        position: relative;
        display: inline-block;
        
        img {            
            width:140px;
            padding:10px;
            background: #fff; 
        }        
    }
    .s-profile{
        @extend .text-left;
        h4{
            @extend .m-t-0;
        }
    }
}
/* ====================================  */
.company{
    li{
        a{
            display:block;
            padding:2px 0;
        }
    }
}
/* ====================================  */
.social-widget{
    .number, .text{
        color:#fff !important;
    }
    .facebook-widget{
        background:#3b5998;
    }
    .google-widget{
        background:#d34836;
    }
    .twitter-widget{
        background:#0084b4;
    }
    .instagram-widget{
        background:#fb3958;
    }
    .linkedin-widget{
        background:#0077B5;
    }
    .behance-widget{
        background:#053eff;
    }
}
/* ====================================  */
.custom{
    
    .item {
        min-height:210px;
        @include border-radius(3px);
        padding:20% 20px 20px;
        @extend .text-center;
        
        i{
         font-size:40px;
         }
        
        h4{
            margin:0;
            font-weight:300;
        }
    }
}
/* ====================================  */
.contact-card{
    display: block;
    
    .contact-avatar {
        width: 100%;
        
        a {
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            overflow: hidden;
        }
    }
    
    .contact-name {
        padding:20px 30px;
        
        h4{
            margin:0;
        }
    }
    
    .contact-details {
        list-style: none;
        padding: 0;
        margin: 0;
        color: #909090;
        display: block;
        padding: 18px 32px;
        background-color: #f7f7f7;
        
        li{
            position: relative;
            margin-left: 28px;
            line-height: 24px;
            padding: 3px 0;
            word-break: break-all;
            
            span{
                display:inline-block;
                font-size:16px;
            }
            
            i{
                font-size: 18px;
                position: relative;
                top: 5px;
                left: -28px;
                position: absolute;
            }
        }
    }
    
    .social-icons{
        padding:10px 17px;
        margin:0;
        
        li{
            list-style:none;
            display:inline-block;
            
            a{
                padding:8px 15px;
                display:inline-block;
            }
        }
    }
}

#linecustom1, #linecustom2, #linecustom3{
    display: block;
}

/* Custom List ===========================  */
.new-list{
    .table{
        tbody{
            tr{
                td{
                    vertical-align: middle;
                    img{
                        width: 50px;
                    }
                }
            }
        }
    }
}

/* ===========================  */
.widget-stat{
    .media-icon{
        vertical-align: middle;      
        width: 47px;
        height: 47px;
        @extend .text-center;
        border-radius:3px;
        i{
            @extend .m-t-10;
        }
    }
    .media-text{        
        vertical-align: top;
        @extend .p-l-20;        
        .value{
            display: block;
            font-size: 26px;
        }
    }
    .media-footer {
        @extend .m-t-15;
        @extend .m-b-0;
        padding-top: 12px;
        border-top: 1px solid #f0f0f0;
        span{
            font-size: 13px;
        }
    }
}

.widget-reports{
    .avatar{
        width: 30px;
    }
    .table{
        @extend .m-b-0;
        tbody{
            tr{
                td{
                    vertical-align: middle;
                }
            }
        }
    }
}

/*weather===========================  */
.weather{
    .city{
        position: relative;
        @extend .m-b-30;
        @extend .m-t-20;
        h3{
            @extend .m-b-0;
            @extend .m-t-0;            
        }
        img{
            width:50px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .days{
        li{
            display: inline-block;
            width: 13.20%;
            @extend .text-center;

            img{
                width:25px;
                @extend .m-b-5;
            }

            h5{
                font-size: 11px;
            }

            .degrees{
                display: block;
            }
        }
    }
}


@media only screen and (max-width:1024px){
    .twitter{
        .zmdi-twitter {
            font-size: 40px;
        }
    }

}
@media only screen and (max-width:992px){
    .chat-widget{
        .chat-scroll-list{
            li{
                width:100%;
                max-width:initial;
                
                .message {
                    display: block;
                }
            }
        }
    }
    .twitter{
        min-height: auto;
    }
    .custom{
        .item{
            min-height:auto;
            padding:40px;
        }
    }
}

@media only screen and (max-width:767px) {
    .member-card{
        .s-profile{
            text-align:center;
        }
    }
}
/* ====================================  */