.overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 14;
    opacity:1;
}

.overlay-open {
    .sidebar {
        margin-left: 0;
        z-index:14;
       
        .quick-stats{
            h5{
                color:#666 !important;
            }
        }   
    }
}

.sidebar {
    @include transition(all .5s);
    font-family: $sidebar-font-family;
    background:transparent;
    width: 255px;
    overflow: hidden;
    display: inline-block;
    height: calc(100vh - 55px);
    position: fixed;
    top: 55px;
    left: 0;
    z-index:12;

    .menu {
        position: relative;
        overflow-y: auto;        
        background:#30373e;
        
        .user-info {
            padding: 13px 15px 12px 15px;
            white-space: nowrap;
            position: relative;
            color:#ccc;
                    
            .admin-image{
                display: table-cell;
                vertical-align: top;
                
                > img {
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                    float: left;
                    width:65px;
                    height:auto;
                }
            }
        
        .admin-action-info {
            display: table-cell;
            padding-left: 20px;
            vertical-align: middle;
            
            > span {                
                float: left;                
                font-size: 12px;
            }
            
            h3 {               
                float: left;                
                font-size: 16px;
                font-weight:normal;
                line-height: 22px;
                margin: 0;
                width: 100%;
            }
            
            > ul {
                float: left;
                list-style: outside none none;
                margin:0 0 0 -5px;
                padding: 0;
                width: 100%;
                
                li {
                    float: left;
                    margin-right: 1px;
                    
                    a {
                        
                        float: left;
                        font-size: 12px;
                        @extend .text-center;
                        padding:0 5px;
                        margin:0;
                    }
                }
            }
        }
    }

        .list {
            list-style: none;
            @extend .p-l-0;

            .header {
                font-size: 12px;
                font-weight:400;
                padding: 8px 16px;
                color:#fff;
                letter-spacing: 0.5px;
                border-bottom:1px solid #3a424a;
                margin-bottom:5px;
            }

            i.material-icons {
                margin-top: 4px;
            }

            .menu-toggle {
                &:after, &:before {
                    position: absolute;
                    top: calc(50% - 11px);
                    right: 17px;
                    font-size: 18px;
                    @include transform(scale(0));
                    @include transition(all .3s);
                    color:#888;
                }

                &:before {
                    content: '+';
                    @include transform(scale(1));
                }

                &:after {
                    content: '\2013';
                    @include transform(scale(0));
                }
            }

            .menu-toggle.toggled {
                &:before {
                    @include transform(scale(0));
                }

                &:after {
                    @include transform(scale(1));
                }
            }

            a {
                color: #999;
                position: relative;
                display:block;
                vertical-align: middle;                
                padding:8px 12px;
                font-weight:300;
                margin:0px 12px;
                border-radius:3px;

                &:hover,
                &:active,
                &:focus {
                    text-decoration: none !important;
                }

                small {
                    position: absolute;
                    top: calc(50% - 7.5px);
                    right: 15px;
                }

                span {
                    margin: 7px 0 7px 12px;                    
                    overflow: hidden;
                }
                
                i{
                    line-height:32px;
                    width:20px;
                    @extend .text-center;
                 }
            }

            .ml-menu {
                list-style: none;
                display: none;
                padding-left: 0;

                span {
                    font-weight: normal;
                    font-size: 15px;
                    margin: 3px 0 1px 6px;
                }

                li {
                    a {
                        padding-left: 42px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        
                        &:before{
                            content: '\f2fb';
                            position: absolute;
                            left:18px;
                            font-size: 16px;
                            font-family:'Material-Design-Iconic-Font';
                            color:#999;
                        }
                    }

                    &.active {
                        a.toggled:not(.menu-toggle) {
                            font-weight:500;                           

                            &:before {
                                content: '\E315';
                                font-family: 'Material Icons';
                                position: relative;
                                font-size: 21px;
                                height: 20px;
                                top: -5px;
                                right: 0px;
                            }
                        }
                    }

                    .ml-menu {
                        li {
                            a {
                                padding-left: 80px;
                            }
                        }

                        .ml-menu {
                            li {
                                a {
                                    padding-left: 95px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.sidebar{
    .active.open{
        .active{
            a{
                color:#ccc;
                
                &:before{
                    display:none ;
                }
                
                &:after{
                    content: '\f2fb';
                    position:absolute;
                    top: 7px;
                    left: 17px;
                    font-family:'Material-Design-Iconic-Font';
                    font-size:16px;
                }
            }
        }
    }
}

.right-sidebar {
    width: 280px;
    height:100vh;
    position: fixed;
    right: -300px;
    top:0;
    background: #fdfdfd;
    z-index: 14;
    @include box-shadow(-2px 2px 5px rgba(0, 0, 0, 0.1));
    overflow: hidden;
    @include transition(.5s);

    &.open {
        right: 0;
    }

    .nav-tabs {       
        font-size:15px;
        width: 100%;
        margin-left: 2px;

        li {
            @extend .text-center;

            > a {
                @extend .m-r-0;
                padding:14px 15px;
            }

            &:first-child {
                width: 45%;
            }

            &:last-child {
                width: 55%;
            }
        }
    }
}

@media (max-width: 1024px) {
  .sidebar{
    height:100vh;
    top:0;
  }
}